## Obtain Data

### Query URL

"https://stats.nba.com/stats/teamgamelogs?DateFrom=&DateTo=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2018-19&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&VsConference=&VsDivision="

https://stats.nba.com/stats/teamgamelogs?
        DateFrom=&
        DateTo=&
        GameSegment=&
        LastNGames=0&
        LeagueID=00&
        Location=&
        MeasureType=Base&
        Month=0&
        OpponentTeamID=0&
        Outcome=&
        PORound=0&
        PaceAdjust=N&
        PerMode=Totals&
        Period=0&
        PlusMinus=N&
        Rank=N&
        Season=2018-19&
        SeasonSegment=&
        SeasonType=Regular+Season&
        ShotClockRange=&
        VsConference=&
        VsDivision=

In [1]:
import pandas as pd
import json

In [2]:
url = "https://stats.nba.com/stats/teamgamelogs?DateFrom=&DateTo=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2018-19&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&VsConference=&VsDivision="

### Load Traditional & Advances Stats (JSON)

In [80]:
nba_data_trad = json.load(open('data/2018-2019-team-game-logs-traditional.json'))
nba_data_adv = json.load(open('data/2018-2019-team-game-logs-advanced.json'))

#### Extract Headers/Columns

In [81]:
columns_trad = nba_data_trad['resultSets'][0]['headers']
columns_adv = nba_data_adv['resultSets'][0]['headers']
print("TRADITIONAL: ", columns_trad[:5])
print("ADVANCED: ", columns_adv[:5])

TRADITIONAL:  ['SEASON_YEAR', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID']
ADVANCED:  ['SEASON_YEAR', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID']

#### Extract Rows

In [82]:
rows_trad = nba_data_trad['resultSets'][0]['rowSet']
rows_adv = nba_data_adv['resultSets'][0]['rowSet']
rows_trad[:5]

[['2018-19',
  1610612743,
  'DEN',
  'Denver Nuggets',
  '0021801228',
  '2019-04-10T00:00:00',
  'DEN vs. MIN',
  'W',
  48.0,
  39,
  87,
  0.448,
  10,
  33,
  0.303,
  11,
  17,
  0.647,
  12,
  41,
  53,
  23,
  13.0,
  6,
  4,
  0,
  12,
  22,
  99,
  4.0,
  1,
  1,
  1,
  1,
  135,
  1496,
  1438,
  1448,
  1372,
  972,
  1785,
  2083,
  1894,
  2154,
  649,
  288,
  267,
  1394,
  890,
  1543,
  1329,
  1,
  23,
  823,
  2012,
  977],
 ['2018-19',
  1610612763,
  'MEM',
  'Memphis Grizzlies',
  '0021801225',
  '2019-04-10T00:00:00',
  'MEM vs. GSW',
  'W',
  48.0,
  48,
  98,
  0.49,
  21,
  46,
  0.457,
  15,
  18,
  0.833,
  15,
  34,
  49,
  25,
  11.0,
  9,
  0,
  5,
  18,
  17,
  132,
  15.0,
  1,
  1,
  1,
  1,
  135,
  201,
  232,
  674,
  23,
  73,
  296,
  1513,
  1774,
  633,
  239,
  1276,
  628,
  1018,
  444,
  615,
  2420,
  1133,
  534,
  1928,
  107,
  351],
 ['2018-19',
  1610612755,
  'PHI',
  'Philadelphia 76ers',
  '0021801224',
  '2019-04-10T00:00:00',
  'PHI vs. CHI',
  'W',
  48.0,
  52,
  93,
  0.559,
  12,
  26,
  0.462,
  9,
  15,
  0.6,
  9,
  38,
  47,
  30,
  7.0,
  4,
  10,
  3,
  11,
  13,
  125,
  16.0,
  1,
  1,
  1,
  1,
  135,
  53,
  626,
  94,
  864,
  1883,
  267,
  2271,
  2083,
  2311,
  1362,
  610,
  893,
  308,
  35,
  2133,
  53,
  393,
  11,
  2382,
  315,
  303],
 ['2018-19',
  1610612762,
  'UTA',
  'Utah Jazz',
  '0021801229',
  '2019-04-10T00:00:00',
  'UTA @ LAC',
  'L',
  53.0,
  47,
  106,
  0.443,
  14,
  35,
  0.4,
  29,
  33,
  0.879,
  17,
  40,
  57,
  31,
  17.0,
  8,
  11,
  5,
  24,
  27,
  137,
  -6.0,
  1,
  1231,
  1231,
  1231,
  21,
  279,
  32,
  1527,
  462,
  728,
  673,
  93,
  212,
  324,
  92,
  366,
  83,
  232,
  1809,
  870,
  20,
  1133,
  1822,
  171,
  53,
  1566],
 ['2018-19',
  1610612759,
  'SAS',
  'San Antonio Spurs',
  '0021801227',
  '2019-04-10T00:00:00',
  'SAS vs. DAL',
  'W',
  48.0,
  41,
  88,
  0.466,
  8,
  24,
  0.333,
  15,
  18,
  0.833,
  8,
  45,
  53,
  22,
  11.0,
  6,
  2,
  4,
  14,
  19,
  105,
  11.0,
  1,
  1,
  1,
  1,
  135,
  1130,
  1301,
  1120,
  1907,
  2090,
  1396,
  1513,
  1774,
  633,
  1623,
  75,
  267,
  1558,
  444,
  1543,
  2069,
  731,
  80,
  1522,
  1659,
  493]]

#### Create Initial DataFrames

In [83]:
nba_trad_df = pd.DataFrame(rows_trad, columns=columns_trad)
nba_adv_df = pd.DataFrame(rows_adv, columns=columns_adv)

In [84]:
nba_trad_df.head(5)

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,2018-19,1610612743,DEN,Denver Nuggets,0021801228,2019-04-10T00:00:00,DEN vs. MIN,W,48.0,39,...,267,1394,890,1543,1329,1,23,823,2012,977
1,2018-19,1610612763,MEM,Memphis Grizzlies,0021801225,2019-04-10T00:00:00,MEM vs. GSW,W,48.0,48,...,628,1018,444,615,2420,1133,534,1928,107,351
2,2018-19,1610612755,PHI,Philadelphia 76ers,0021801224,2019-04-10T00:00:00,PHI vs. CHI,W,48.0,52,...,893,308,35,2133,53,393,11,2382,315,303
3,2018-19,1610612762,UTA,Utah Jazz,0021801229,2019-04-10T00:00:00,UTA @ LAC,L,53.0,47,...,83,232,1809,870,20,1133,1822,171,53,1566
4,2018-19,1610612759,SAS,San Antonio Spurs,0021801227,2019-04-10T00:00:00,SAS vs. DAL,W,48.0,41,...,267,1558,444,1543,2069,731,80,1522,1659,493

In [85]:
nba_adv_df.head(5)

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,E_OFF_RATING,...,AST_TO_RANK,AST_RATIO_RANK,OREB_PCT_RANK,DREB_PCT_RANK,REB_PCT_RANK,TM_TOV_PCT_RANK,EFG_PCT_RANK,TS_PCT_RANK,PACE_RANK,PIE_RANK
0,2018-19,1610612737,ATL,Atlanta Hawks,0021801220,2019-04-10T00:00:00,ATL vs. IND,L,48.0,116.8,...,1279,1266,9,1456,109,1690,1541,1233,147,1253
1,2018-19,1610612742,DAL,Dallas Mavericks,0021801227,2019-04-10T00:00:00,DAL @ SAS,L,48.0,97.6,...,67,474,2335,724,2158,69,2036,2188,1781,1899
2,2018-19,1610612766,CHA,Charlotte Hornets,0021801222,2019-04-10T00:00:00,CHA vs. ORL,L,48.0,121.4,...,357,1203,2194,1456,1933,177,493,268,2309,1404
3,2018-19,1610612744,GSW,Golden State Warriors,0021801225,2019-04-10T00:00:00,GSW @ MEM,L,48.0,113.4,...,583,149,1387,2126,1895,1272,562,656,1073,1563
4,2018-19,1610612751,BKN,Brooklyn Nets,0021801221,2019-04-10T00:00:00,BKN vs. MIA,W,48.0,103.6,...,476,1015,728,281,438,556,2011,2226,169,543

In [86]:
for col in nba_trad_df.columns:
    print(col)

SEASON_YEAR
TEAM_ID
TEAM_ABBREVIATION
TEAM_NAME
GAME_ID
GAME_DATE
MATCHUP
WL
MIN
FGM
FGA
FG_PCT
FG3M
FG3A
FG3_PCT
FTM
FTA
FT_PCT
OREB
DREB
REB
AST
TOV
STL
BLK
BLKA
PF
PFD
PTS
PLUS_MINUS
GP_RANK
W_RANK
L_RANK
W_PCT_RANK
MIN_RANK
FGM_RANK
FGA_RANK
FG_PCT_RANK
FG3M_RANK
FG3A_RANK
FG3_PCT_RANK
FTM_RANK
FTA_RANK
FT_PCT_RANK
OREB_RANK
DREB_RANK
REB_RANK
AST_RANK
TOV_RANK
STL_RANK
BLK_RANK
BLKA_RANK
PF_RANK
PFD_RANK
PTS_RANK
PLUS_MINUS_RANK

In [87]:
nba_trad_df = nba_trad_df[nba_trad_df.columns.drop(list(nba_trad_df.filter(regex='_RANK')))]

In [88]:
for col in nba_trad_df.columns:
    print(col)

SEASON_YEAR
TEAM_ID
TEAM_ABBREVIATION
TEAM_NAME
GAME_ID
GAME_DATE
MATCHUP
WL
MIN
FGM
FGA
FG_PCT
FG3M
FG3A
FG3_PCT
FTM
FTA
FT_PCT
OREB
DREB
REB
AST
TOV
STL
BLK
BLKA
PF
PFD
PTS
PLUS_MINUS

In [89]:
nba_adv_df = nba_adv_df[nba_adv_df.columns.drop(list(nba_adv_df.filter(regex='_RANK')))]

In [90]:
for col in nba_trad_df.columns:
    print(col)

SEASON_YEAR
TEAM_ID
TEAM_ABBREVIATION
TEAM_NAME
GAME_ID
GAME_DATE
MATCHUP
WL
MIN
FGM
FGA
FG_PCT
FG3M
FG3A
FG3_PCT
FTM
FTA
FT_PCT
OREB
DREB
REB
AST
TOV
STL
BLK
BLKA
PF
PFD
PTS
PLUS_MINUS

#### Drop Extra Columns (anything with '_RANK')

In [91]:
nba_trad_df = nba_trad_df[nba_trad_df.columns.drop(list(nba_trad_df.filter(regex='_RANK')))]
nba_adv_df = nba_adv_df[nba_adv_df.columns.drop(list(nba_adv_df.filter(regex='_RANK')))]

#### Merge DataFrames

The nba.stats.com serves advanced and traditional stats from different endpoints, so they will have to be merged.  Rows will be combined on **GAME_ID** and **TEAM_ABBREVIATION** since each game will have a unique identifier, and each game has two rows of data (one for each team).

The preliminary list of matching columns is:
    - SEASON_YEAR
    - MIN
    - TEAM_ID
    - TEAM_ABBREVIATION
    - TEAM_NAME
    - GAME_ID
    - GAME_DATE
    - MATCHUP
    - WL

In [92]:
dup_columns = ["SEASON_YEAR", "MIN", "TEAM_ID", "TEAM_ABBREVIATION", "TEAM_NAME", "GAME_ID", "GAME_DATE", "MATCHUP", "WL"]
merged = nba_trad_df.merge(nba_adv_df, how='inner', on=dup_columns)
# merged = nba_trad_df.merge(nba_adv_df, how='inner', on=['GAME_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_DATE', 'MATCHUP'])

In [93]:
merged.head(15)

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,AST_RATIO,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,E_PACE,PACE,PIE
0,2018-19,1610612743,DEN,Denver Nuggets,0021801228,2019-04-10T00:00:00,DEN vs. MIN,W,48.0,39,...,17.4,0.255,0.833,0.552,0.135,0.506,0.524,96.1,96.00,0.562
1,2018-19,1610612763,MEM,Memphis Grizzlies,0021801225,2019-04-10T00:00:00,MEM vs. GSW,W,48.0,48,...,17.5,0.346,0.745,0.535,0.109,0.597,0.623,102.5,101.00,0.533
2,2018-19,1610612755,PHI,Philadelphia 76ers,0021801224,2019-04-10T00:00:00,PHI vs. CHI,W,48.0,52,...,21.7,0.267,0.722,0.515,0.073,0.624,0.628,99.1,96.00,0.601
3,2018-19,1610612762,UTA,Utah Jazz,0021801229,2019-04-10T00:00:00,UTA @ LAC,L,53.0,47,...,18.0,0.339,0.750,0.534,0.142,0.509,0.568,108.6,108.68,0.484
4,2018-19,1610612759,SAS,San Antonio Spurs,0021801227,2019-04-10T00:00:00,SAS vs. DAL,W,48.0,41,...,16.9,0.229,0.839,0.558,0.113,0.511,0.547,97.6,97.50,0.564
5,2018-19,1610612760,OKC,Oklahoma City Thunder,0021801226,2019-04-10T00:00:00,OKC @ MIL,W,48.0,48,...,25.0,0.167,0.750,0.474,0.117,0.601,0.606,111.0,110.50,0.560
6,2018-19,1610612752,NYK,New York Knicks,0021801223,2019-04-10T00:00:00,NYK vs. DET,L,48.0,31,...,18.9,0.078,0.689,0.365,0.116,0.461,0.506,95.9,96.00,0.384
7,2018-19,1610612757,POR,Portland Trail Blazers,0021801230,2019-04-10T00:00:00,POR vs. SAC,W,48.0,53,...,14.2,0.390,0.660,0.534,0.131,0.659,0.675,100.4,99.50,0.520
8,2018-19,1610612751,BKN,Brooklyn Nets,0021801221,2019-04-10T00:00:00,BKN vs. MIA,W,48.0,43,...,18.2,0.306,0.813,0.544,0.111,0.469,0.483,110.3,108.00,0.567
9,2018-19,1610612746,LAC,LA Clippers,0021801229,2019-04-10T00:00:00,LAC vs. UTA,W,53.0,54,...,20.2,0.250,0.661,0.466,0.100,0.566,0.600,108.6,108.68,0.516
10,2018-19,1610612742,DAL,Dallas Mavericks,0021801227,2019-04-10T00:00:00,DAL @ SAS,L,48.0,37,...,20.3,0.161,0.771,0.442,0.071,0.467,0.488,97.6,97.50,0.436
11,2018-19,1610612748,MIA,Miami Heat,0021801221,2019-04-10T00:00:00,MIA @ BKN,L,48.0,38,...,15.6,0.188,0.694,0.456,0.139,0.429,0.449,110.3,108.00,0.433
12,2018-19,1610612749,MIL,Milwaukee Bucks,0021801226,2019-04-10T00:00:00,MIL vs. OKC,L,48.0,43,...,17.8,0.250,0.833,0.526,0.136,0.505,0.531,111.0,110.50,0.440
13,2018-19,1610612754,IND,Indiana Pacers,0021801220,2019-04-10T00:00:00,IND @ ATL,W,48.0,45,...,15.1,0.286,0.531,0.417,0.074,0.520,0.586,112.4,108.50,0.503
14,2018-19,1610612766,CHA,Charlotte Hornets,0021801222,2019-04-10T00:00:00,CHA vs. ORL,L,48.0,41,...,17.6,0.184,0.714,0.463,0.086,0.577,0.634,93.8,93.00,0.481

In [94]:
for col in merged.columns:
    print(col)

SEASON_YEAR
TEAM_ID
TEAM_ABBREVIATION
TEAM_NAME
GAME_ID
GAME_DATE
MATCHUP
WL
MIN
FGM
FGA
FG_PCT
FG3M
FG3A
FG3_PCT
FTM
FTA
FT_PCT
OREB
DREB
REB
AST
TOV
STL
BLK
BLKA
PF
PFD
PTS
PLUS_MINUS
E_OFF_RATING
OFF_RATING
E_DEF_RATING
DEF_RATING
E_NET_RATING
NET_RATING
AST_PCT
AST_TO
AST_RATIO
OREB_PCT
DREB_PCT
REB_PCT
TM_TOV_PCT
EFG_PCT
TS_PCT
E_PACE
PACE
PIE

### Feature Variables

#### SOURCE: http://hangtime.blogs.nba.com/2013/02/15/the-new-nba-comstats-advanced-stats-all-start-with-pace-and-efficiency/

<table>
    <thead>
        <tr>
            <th>Column Name</th>
            <th>Statistic</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>OREB_PCT</td>
            <td>Offensive Rebound %</td>
            <td>Offensive rebounding percentage (OREB%) = Offensive rebounds / (Offensive rebounds + Opponent defensive rebounds)</td>
        </tr>
        <tr>
            <td>DREB_PCT</td>
            <td>Defensive Rebound %</td>
            <td>Defensive rebounding percentage (DREB%) = Defensive rebounds / (Defensive rebounds + Opponent offensive rebounds)</td>
        </tr>
        <tr>
            <td>EFG_PCT</td>
            <td>Effective Field Goal %</td>
            <td>EFG% = (FGM + (0.5 * 3PM)) / FGA</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>