## stats.nba.com

### Query URL

"https://stats.nba.com/stats/teamgamelogs?DateFrom=&DateTo=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2018-19&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&VsConference=&VsDivision="

https://stats.nba.com/stats/teamgamelogs?
        DateFrom=&
        DateTo=&
        GameSegment=&
        LastNGames=0&
        LeagueID=00&
        Location=&
        MeasureType=Base&
        Month=0&
        OpponentTeamID=0&
        Outcome=&
        PORound=0&
        PaceAdjust=N&
        PerMode=Totals&
        Period=0&
        PlusMinus=N&
        Rank=N&
        Season=2018-19&
        SeasonSegment=&
        SeasonType=Regular+Season&
        ShotClockRange=&
        VsConference=&
        VsDivision=

In [13]:
import pandas as pd
import json

In [5]:
url = "https://stats.nba.com/stats/teamgamelogs?DateFrom=&DateTo=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2018-19&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&VsConference=&VsDivision="

### Load Traditional & Advances Stats (JSON)

In [48]:
nba_data_traditional = json.load(open('data/2018-2019-team-game-logs-traditional.json'))
nba_data_advanced = json.load(open('data/2018-2019-team-game-logs-advanced.json'))

#### Extract Headers/Columns

In [52]:
columns_traditional = nba_data_traditional['resultSets'][0]['headers']
columns_advanced = nba_data_advanced['resultSets'][0]['headers']
print("TRADITIONAL: ", columns_traditional[:5])
print("ADVANCED: ", columns_advanced[:5])

TRADITIONAL:  ['SEASON_YEAR', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID']
ADVANCED:  ['SEASON_YEAR', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID']

#### Extract Rows

In [55]:
rows_traditional = nba_data_traditional['resultSets'][0]['rowSet']
rows_advanced = nba_data_advanced['resultSets'][0]['rowSet']
rows_traditional[:5]

[['2018-19',
  1610612743,
  'DEN',
  'Denver Nuggets',
  '0021801228',
  '2019-04-10T00:00:00',
  'DEN vs. MIN',
  'W',
  48.0,
  39,
  87,
  0.448,
  10,
  33,
  0.303,
  11,
  17,
  0.647,
  12,
  41,
  53,
  23,
  13.0,
  6,
  4,
  0,
  12,
  22,
  99,
  4.0,
  1,
  1,
  1,
  1,
  135,
  1496,
  1438,
  1448,
  1372,
  972,
  1785,
  2083,
  1894,
  2154,
  649,
  288,
  267,
  1394,
  890,
  1543,
  1329,
  1,
  23,
  823,
  2012,
  977],
 ['2018-19',
  1610612763,
  'MEM',
  'Memphis Grizzlies',
  '0021801225',
  '2019-04-10T00:00:00',
  'MEM vs. GSW',
  'W',
  48.0,
  48,
  98,
  0.49,
  21,
  46,
  0.457,
  15,
  18,
  0.833,
  15,
  34,
  49,
  25,
  11.0,
  9,
  0,
  5,
  18,
  17,
  132,
  15.0,
  1,
  1,
  1,
  1,
  135,
  201,
  232,
  674,
  23,
  73,
  296,
  1513,
  1774,
  633,
  239,
  1276,
  628,
  1018,
  444,
  615,
  2420,
  1133,
  534,
  1928,
  107,
  351],
 ['2018-19',
  1610612755,
  'PHI',
  'Philadelphia 76ers',
  '0021801224',
  '2019-04-10T00:00:00',
  'PHI vs. CHI',
  'W',
  48.0,
  52,
  93,
  0.559,
  12,
  26,
  0.462,
  9,
  15,
  0.6,
  9,
  38,
  47,
  30,
  7.0,
  4,
  10,
  3,
  11,
  13,
  125,
  16.0,
  1,
  1,
  1,
  1,
  135,
  53,
  626,
  94,
  864,
  1883,
  267,
  2271,
  2083,
  2311,
  1362,
  610,
  893,
  308,
  35,
  2133,
  53,
  393,
  11,
  2382,
  315,
  303],
 ['2018-19',
  1610612762,
  'UTA',
  'Utah Jazz',
  '0021801229',
  '2019-04-10T00:00:00',
  'UTA @ LAC',
  'L',
  53.0,
  47,
  106,
  0.443,
  14,
  35,
  0.4,
  29,
  33,
  0.879,
  17,
  40,
  57,
  31,
  17.0,
  8,
  11,
  5,
  24,
  27,
  137,
  -6.0,
  1,
  1231,
  1231,
  1231,
  21,
  279,
  32,
  1527,
  462,
  728,
  673,
  93,
  212,
  324,
  92,
  366,
  83,
  232,
  1809,
  870,
  20,
  1133,
  1822,
  171,
  53,
  1566],
 ['2018-19',
  1610612759,
  'SAS',
  'San Antonio Spurs',
  '0021801227',
  '2019-04-10T00:00:00',
  'SAS vs. DAL',
  'W',
  48.0,
  41,
  88,
  0.466,
  8,
  24,
  0.333,
  15,
  18,
  0.833,
  8,
  45,
  53,
  22,
  11.0,
  6,
  2,
  4,
  14,
  19,
  105,
  11.0,
  1,
  1,
  1,
  1,
  135,
  1130,
  1301,
  1120,
  1907,
  2090,
  1396,
  1513,
  1774,
  633,
  1623,
  75,
  267,
  1558,
  444,
  1543,
  2069,
  731,
  80,
  1522,
  1659,
  493]]

#### Create Initial DataFrames

In [57]:
nba_traditional_df = pd.DataFrame(rows_traditional, columns=columns_traditional)
nba_advanced_df = pd.DataFrame(rows_advanced, columns=columns_advanced)

In [61]:
nba_traditional_df.head(5)

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,2018-19,1610612743,DEN,Denver Nuggets,0021801228,2019-04-10T00:00:00,DEN vs. MIN,W,48.0,39,...,267,1394,890,1543,1329,1,23,823,2012,977
1,2018-19,1610612763,MEM,Memphis Grizzlies,0021801225,2019-04-10T00:00:00,MEM vs. GSW,W,48.0,48,...,628,1018,444,615,2420,1133,534,1928,107,351
2,2018-19,1610612755,PHI,Philadelphia 76ers,0021801224,2019-04-10T00:00:00,PHI vs. CHI,W,48.0,52,...,893,308,35,2133,53,393,11,2382,315,303
3,2018-19,1610612762,UTA,Utah Jazz,0021801229,2019-04-10T00:00:00,UTA @ LAC,L,53.0,47,...,83,232,1809,870,20,1133,1822,171,53,1566
4,2018-19,1610612759,SAS,San Antonio Spurs,0021801227,2019-04-10T00:00:00,SAS vs. DAL,W,48.0,41,...,267,1558,444,1543,2069,731,80,1522,1659,493

In [62]:
nba_advanced_df.head(5)

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,E_OFF_RATING,...,AST_TO_RANK,AST_RATIO_RANK,OREB_PCT_RANK,DREB_PCT_RANK,REB_PCT_RANK,TM_TOV_PCT_RANK,EFG_PCT_RANK,TS_PCT_RANK,PACE_RANK,PIE_RANK
0,2018-19,1610612737,ATL,Atlanta Hawks,0021801220,2019-04-10T00:00:00,ATL vs. IND,L,48.0,116.8,...,1279,1266,9,1456,109,1690,1541,1233,147,1253
1,2018-19,1610612742,DAL,Dallas Mavericks,0021801227,2019-04-10T00:00:00,DAL @ SAS,L,48.0,97.6,...,67,474,2335,724,2158,69,2036,2188,1781,1899
2,2018-19,1610612766,CHA,Charlotte Hornets,0021801222,2019-04-10T00:00:00,CHA vs. ORL,L,48.0,121.4,...,357,1203,2194,1456,1933,177,493,268,2309,1404
3,2018-19,1610612744,GSW,Golden State Warriors,0021801225,2019-04-10T00:00:00,GSW @ MEM,L,48.0,113.4,...,583,149,1387,2126,1895,1272,562,656,1073,1563
4,2018-19,1610612751,BKN,Brooklyn Nets,0021801221,2019-04-10T00:00:00,BKN vs. MIA,W,48.0,103.6,...,476,1015,728,281,438,556,2011,2226,169,543

#### Merge DataFrames

The nba.stats.com serves advanced and traditional stats from different endpoints, so they will have to be merged.  Rows will be combined on **GAME_ID** and **TEAM_ABBREVIATION** since each game will have a unique identifier, and each game has two rows of data (one for each team).